[class^=go-],[class*=go-]{display:inline-block;width:19px;height:18px;margin-right:.3em;line-height:17px;vertical-align:text-top;background-image:url(google_icon_color.png);background-position:top left;background-repeat:no-repeat}
[class^=gray-],[class*=gray-]{display:inline-block;width:19px;height:18px;margin-right:.3em;line-height:17px;vertical-align:text-top;background-image:url(google_icon_gray.png);background-position:top left;background-repeat:no-repeat}
[class^=lgray-],[class*=lgray-]{display:inline-block;width:129px;height:128px;margin-right:.3em;line-height:127px;vertical-align:text-top;background-image:url(google_icon_lgray.png);background-position:top left;background-repeat:no-repeat}
[class^=lgo-],[class*=lgo-]{display:inline-block;width:129px;height:128px;margin-right:.3em;line-height:127px;vertical-align:text-top;background-image:url(google_icon_lgo.png);background-position:top left;background-repeat:no-repeat}
[class^=go-]:last-child,[class*=go-]:last-child,[class^=gray-]:last-child,[class*=gray-]:last-child,[class^=lgray-]:last-child,[class*=lgray-]:last-child,[class^=lgo-]:last-child,[class*=lgo-]:last-child{margin-left:0}
.go-abacus,.gray-abacus{background-position:0 0;width:18px;height:18px}
.go-access_point,.gray-access_point{background-position:-23px 0;width:18px;height:18px}
.go-add,.gray-add{background-position:-46px 0;width:18px;height:18px}
.go-administrator,.gray-administrator{background-position:-69px 0;width:18px;height:18px}
.go-alarm,.gray-alarm{background-position:-92px 0;width:18px;height:18px}
.go-arrow_bidirectional,.gray-arrow_bidirectional{background-position:-115px 0;width:18px;height:18px}
.go-arrow_down2,.gray-arrow_down2{background-position:-138px 0;width:18px;height:18px}
.go-arrow_left2,.gray-arrow_left2{background-position:-161px 0;width:18px;height:18px}
.go-arrow_right2,.gray-arrow_right2{background-position:-184px 0;width:18px;height:18px}
.go-arrow_up2,.gray-arrow_up2{background-position:-207px 0;width:18px;height:18px}
.go-attachment,.gray-attachment{background-position:-230px 0;width:18px;height:18px}
.go-audio_knob,.gray-audio_knob{background-position:-253px 0;width:18px;height:18px}
.go-barcode,.gray-barcode{background-position:-276px 0;width:18px;height:18px}
.go-battery_empty,.gray-battery_empty{background-position:-299px 0;width:18px;height:18px}
.go-battery_full,.gray-battery_full{background-position:-322px 0;width:18px;height:18px}
.go-battery_half,.gray-battery_half{background-position:-345px 0;width:18px;height:18px}
.go-bell,.gray-bell{background-position:-368px 0;width:18px;height:18px}
.go-bill,.gray-bill{background-position:-391px 0;width:18px;height:18px}
.go-binoculars,.gray-binoculars{background-position:-414px 0;width:18px;height:18px}
.go-bold,.gray-bold{background-position:-437px 0;width:18px;height:18px}
.go-book,.gray-book{background-position:-460px 0;width:18px;height:18px}
.go-bookmark,.gray-bookmark{background-position:-483px 0;width:18px;height:18px}
.go-briefcase,.gray-briefcase{background-position:-506px 0;width:18px;height:18px}
.go-brightness,.gray-brightness{background-position:-529px 0;width:18px;height:18px}
.go-broken_link,.gray-broken_link{background-position:-552px 0;width:18px;height:18px}
.go-brush,.gray-brush{background-position:-575px 0;width:18px;height:18px}
.go-burn_blu-ray,.gray-burn_blu-ray{background-position:-598px 0;width:18px;height:18px}
.go-burn_blu-ray2,.gray-burn_blu-ray2{background-position:-621px 0;width:18px;height:18px}
.go-burn_dvd,.gray-burn_dvd{background-position:-644px 0;width:18px;height:18px}
.go-burn_dvd2,.gray-burn_dvd2{background-position:-667px 0;width:18px;height:18px}
.go-cabinet,.gray-cabinet{background-position:-690px 0;width:18px;height:18px}
.go-calculator,.gray-calculator{background-position:-713px 0;width:18px;height:18px}
.go-calendar,.gray-calendar{background-position:-736px 0;width:18px;height:18px}
.go-camera,.gray-camera{background-position:-759px 0;width:18px;height:18px}
.go-cancel,.gray-cancel{background-position:-782px 0;width:18px;height:18px}
.go-card_clubs,.gray-card_clubs{background-position:-805px 0;width:18px;height:18px}
.go-card_diamonds,.gray-card_diamonds{background-position:-828px 0;width:18px;height:18px}
.go-card_hearts,.gray-card_hearts{background-position:-851px 0;width:18px;height:18px}
.go-card_spades,.gray-card_spades{background-position:-874px 0;width:18px;height:18px}
.go-certificate-2,.gray-certificate-2{background-position:-897px 0;width:18px;height:18px}
.go-certificate,.gray-certificate{background-position:-920px 0;width:18px;height:18px}
.go-chat-exclamation,.gray-chat-exclamation{background-position:-943px 0;width:18px;height:18px}
.go-checkmark,.gray-checkmark{background-position:-966px 0;width:18px;height:18px}
.go-checkmark2,.gray-checkmark2{background-position:-989px 0;width:18px;height:18px}
.go-clip,.gray-clip{background-position:-1012px 0;width:18px;height:18px}
.go-clipboard,.gray-clipboard{background-position:-1035px 0;width:18px;height:18px}
.go-clock,.gray-clock{background-position:-1058px 0;width:18px;height:18px}
.go-close,.gray-close{background-position:-1081px 0;width:18px;height:18px}
.go-cloud,.gray-cloud{background-position:-1104px 0;width:18px;height:18px}
.go-cloud2,.gray-cloud2{background-position:-1127px 0;width:18px;height:18px}
.go-coin,.gray-coin{background-position:-1150px 0;width:18px;height:18px}
.go-compress,.gray-compress{background-position:-1173px 0;width:18px;height:18px}
.go-connect,.gray-connect{background-position:-1196px 0;width:18px;height:18px}
.go-contrast,.gray-contrast{background-position:-1219px 0;width:18px;height:18px}
.go-copy,.gray-copy{background-position:-1242px 0;width:18px;height:18px}
.go-cross,.gray-cross{background-position:-1265px 0;width:18px;height:18px}
.go-cutter,.gray-cutter{background-position:-1288px 0;width:18px;height:18px}
.go-delete,.gray-delete{background-position:-1311px 0;width:18px;height:18px}
.go-dial,.gray-dial{background-position:-1334px 0;width:18px;height:18px}
.go-diary,.gray-diary{background-position:-1357px 0;width:18px;height:18px}
.go-dimensions,.gray-dimensions{background-position:-1380px 0;width:18px;height:18px}
.go-directional_down,.gray-directional_down{background-position:-1403px 0;width:18px;height:18px}
.go-directional_left,.gray-directional_left{background-position:-1426px 0;width:18px;height:18px}
.go-directional_right,.gray-directional_right{background-position:-1449px 0;width:18px;height:18px}
.go-directional_up,.gray-directional_up{background-position:-1472px 0;width:18px;height:18px}
.go-disconnect,.gray-disconnect{background-position:-1495px 0;width:18px;height:18px}
.go-diskette,.gray-diskette{background-position:-1518px 0;width:18px;height:18px}
.go-document,.gray-document{background-position:-1541px 0;width:18px;height:18px}
.go-door,.gray-door{background-position:-1564px 0;width:18px;height:18px}
.go-download2,.gray-download2{background-position:-1587px 0;width:18px;height:18px}
.go-dropper,.gray-dropper{background-position:-1610px 0;width:18px;height:18px}
.go-earphones,.gray-earphones{background-position:-1633px 0;width:18px;height:18px}
.go-effects,.gray-effects{background-position:-1656px 0;width:18px;height:18px}
.go-eject,.gray-eject{background-position:-1679px 0;width:18px;height:18px}
.go-emoticon_angry,.gray-emoticon_angry{background-position:-1702px 0;width:18px;height:18px}
.go-emoticon_confused,.gray-emoticon_confused{background-position:-1725px 0;width:18px;height:18px}
.go-emoticon_grin,.gray-emoticon_grin{background-position:-1748px 0;width:18px;height:18px}
.go-emoticon_in_love,.gray-emoticon_in_love{background-position:-1771px 0;width:18px;height:18px}
.go-emoticon_sad,.gray-emoticon_sad{background-position:-1794px 0;width:18px;height:18px}
.go-emoticon_sleeping,.gray-emoticon_sleeping{background-position:-1817px 0;width:18px;height:18px}
.go-emoticon_smile,.gray-emoticon_smile{background-position:-1840px 0;width:18px;height:18px}
.go-encrypt,.gray-encrypt{background-position:-1863px 0;width:18px;height:18px}
.go-eraser,.gray-eraser{background-position:-1886px 0;width:18px;height:18px}
.go-eye,.gray-eye{background-position:-1909px 0;width:18px;height:18px}
.go-eye_closed,.gray-eye_closed{background-position:-1932px 0;width:18px;height:18px}
.go-fast_forward,.gray-fast_forward{background-position:-1955px 0;width:18px;height:18px}
.go-file,.gray-file{background-position:-1978px 0;width:18px;height:18px}
.go-fill,.gray-fill{background-position:0 -23px;width:18px;height:18px}
.go-fingerprint,.gray-fingerprint{background-position:-23px -23px;width:18px;height:18px}
.go-firewall,.gray-firewall{background-position:-46px -23px;width:18px;height:18px}
.go-first,.gray-first{background-position:-69px -23px;width:18px;height:18px}
.go-folder,.gray-folder{background-position:-92px -23px;width:18px;height:18px}
.go-font,.gray-font{background-position:-115px -23px;width:18px;height:18px}
.go-font_size,.gray-font_size{background-position:-138px -23px;width:18px;height:18px}
.go-game_control,.gray-game_control{background-position:-161px -23px;width:18px;height:18px}
.go-gear,.gray-gear{background-position:-184px -23px;width:18px;height:18px}
.go-group,.gray-group{background-position:-207px -23px;width:18px;height:18px}
.go-hammer,.gray-hammer{background-position:-230px -23px;width:18px;height:18px}
.go-hand_point,.gray-hand_point{background-position:-253px -23px;width:18px;height:18px}
.go-hand_thumbsdown,.gray-hand_thumbsdown{background-position:-276px -23px;width:18px;height:18px}
.go-hand_thumbsup,.gray-hand_thumbsup{background-position:-299px -23px;width:18px;height:18px}
.go-hard_disk,.gray-hard_disk{background-position:-322px -23px;width:18px;height:18px}
.go-headset,.gray-headset{background-position:-345px -23px;width:18px;height:18px}
.go-heart,.gray-heart{background-position:-368px -23px;width:18px;height:18px}
.go-help,.gray-help{background-position:-391px -23px;width:18px;height:18px}
.go-help2,.gray-help2{background-position:-414px -23px;width:18px;height:18px}
.go-history,.gray-history{background-position:-437px -23px;width:18px;height:18px}
.go-home,.gray-home{background-position:-460px -23px;width:18px;height:18px}
.go-hourglass,.gray-hourglass{background-position:-483px -23px;width:18px;height:18px}
.go-hourglass2,.gray-hourglass2{background-position:-506px -23px;width:18px;height:18px}
.go-id,.gray-id{background-position:-529px -23px;width:18px;height:18px}
.go-info,.gray-info{background-position:-552px -23px;width:18px;height:18px}
.go-info2,.gray-info2{background-position:-575px -23px;width:18px;height:18px}
.go-italic,.gray-italic{background-position:-598px -23px;width:18px;height:18px}
.go-item,.gray-item{background-position:-621px -23px;width:18px;height:18px}
.go-key,.gray-key{background-position:-644px -23px;width:18px;height:18px}
.go-last,.gray-last{background-position:-667px -23px;width:18px;height:18px}
.go-lightbulb,.gray-lightbulb{background-position:-690px -23px;width:18px;height:18px}
.go-link,.gray-link{background-position:-713px -23px;width:18px;height:18px}
.go-list,.gray-list{background-position:-736px -23px;width:18px;height:18px}
.go-location,.gray-location{background-position:-759px -23px;width:18px;height:18px}
.go-lock,.gray-lock{background-position:-782px -23px;width:18px;height:18px}
.go-lock_open,.gray-lock_open{background-position:-805px -23px;width:18px;height:18px}
.go-login,.gray-login{background-position:-828px -23px;width:18px;height:18px}
.go-mail,.gray-mail{background-position:-851px -23px;width:18px;height:18px}
.go-mail_open,.gray-mail_open{background-position:-874px -23px;width:18px;height:18px}
.go-messenger,.gray-messenger{background-position:-897px -23px;width:18px;height:18px}
.go-microhpone,.gray-microhpone{background-position:-920px -23px;width:18px;height:18px}
.go-microphone2,.gray-microphone2{background-position:-943px -23px;width:18px;height:18px}
.go-money_bag,.gray-money_bag{background-position:-966px -23px;width:18px;height:18px}
.go-monitor,.gray-monitor{background-position:-989px -23px;width:18px;height:18px}
.go-moon,.gray-moon{background-position:-1012px -23px;width:18px;height:18px}
.go-music,.gray-music{background-position:-1035px -23px;width:18px;height:18px}
.go-music_folder,.gray-music_folder{background-position:-1058px -23px;width:18px;height:18px}
.go-music_library,.gray-music_library{background-position:-1081px -23px;width:18px;height:18px}
.go-next,.gray-next{background-position:-1104px -23px;width:18px;height:18px}
.go-notepad,.gray-notepad{background-position:-1127px -23px;width:18px;height:18px}
.go-paragraph_align_left,.gray-paragraph_align_left{background-position:-1150px -23px;width:18px;height:18px}
.go-paragraph_align_right,.gray-paragraph_align_right{background-position:-1173px -23px;width:18px;height:18px}
.go-paragraph_justify,.gray-paragraph_justify{background-position:-1196px -23px;width:18px;height:18px}
.go-password,.gray-password{background-position:-1219px -23px;width:18px;height:18px}
.go-paste,.gray-paste{background-position:-1242px -23px;width:18px;height:18px}
.go-pause,.gray-pause{background-position:-1265px -23px;width:18px;height:18px}
.go-pen,.gray-pen{background-position:-1288px -23px;width:18px;height:18px}
.go-pencil,.gray-pencil{background-position:-1311px -23px;width:18px;height:18px}
.go-phone,.gray-phone{background-position:-1334px -23px;width:18px;height:18px}
.go-photo_album,.gray-photo_album{background-position:-1357px -23px;width:18px;height:18px}
.go-pictures_folder,.gray-pictures_folder{background-position:-1380px -23px;width:18px;height:18px}
.go-play,.gray-play{background-position:-1403px -23px;width:18px;height:18px}
.go-point,.gray-point{background-position:-1426px -23px;width:18px;height:18px}
.go-power,.gray-power{background-position:-1449px -23px;width:18px;height:18px}
.go-previous,.gray-previous{background-position:-1472px -23px;width:18px;height:18px}
.go-print,.gray-print{background-position:-1495px -23px;width:18px;height:18px}
.go-pyramid,.gray-pyramid{background-position:-1518px -23px;width:18px;height:18px}
.go-random,.gray-random{background-position:-1541px -23px;width:18px;height:18px}
.go-record,.gray-record{background-position:-1564px -23px;width:18px;height:18px}
.go-redo,.gray-redo{background-position:-1587px -23px;width:18px;height:18px}
.go-reload,.gray-reload{background-position:-1610px -23px;width:18px;height:18px}
.go-repeat,.gray-repeat{background-position:-1633px -23px;width:18px;height:18px}
.go-resize2,.gray-resize2{background-position:-1656px -23px;width:18px;height:18px}
.go-rewind,.gray-rewind{background-position:-1679px -23px;width:18px;height:18px}
.go-rotate,.gray-rotate{background-position:-1702px -23px;width:18px;height:18px}
.go-round,.gray-round{background-position:-1725px -23px;width:18px;height:18px}
.go-ruler_square,.gray-ruler_square{background-position:-1748px -23px;width:18px;height:18px}
.go-satellite,.gray-satellite{background-position:-1771px -23px;width:18px;height:18px}
.go-scissors,.gray-scissors{background-position:-1794px -23px;width:18px;height:18px}
.go-screwdriver,.gray-screwdriver{background-position:-1817px -23px;width:18px;height:18px}
.go-security,.gray-security{background-position:-1840px -23px;width:18px;height:18px}
.go-shopping_basket,.gray-shopping_basket{background-position:-1863px -23px;width:18px;height:18px}
.go-software24,.gray-software24{background-position:-1886px -23px;width:18px;height:18px}
.go-spam,.gray-spam{background-position:-1909px -23px;width:18px;height:18px}
.go-speaker,.gray-speaker{background-position:-1932px -23px;width:18px;height:18px}
.go-speaker2,.gray-speaker2{background-position:-1955px -23px;width:18px;height:18px}
.go-sphere,.gray-sphere{background-position:-1978px -23px;width:18px;height:18px}
.go-spreadsheet,.gray-spreadsheet{background-position:0 -46px;width:18px;height:18px}
.go-square,.gray-square{background-position:-23px -46px;width:18px;height:18px}
.go-star,.gray-star{background-position:-46px -46px;width:18px;height:18px}
.go-stats_bars,.gray-stats_bars{background-position:-69px -46px;width:18px;height:18px}
.go-stats_lines,.gray-stats_lines{background-position:-92px -46px;width:18px;height:18px}
.go-stats_pie,.gray-stats_pie{background-position:-115px -46px;width:18px;height:18px}
.go-stop,.gray-stop{background-position:-138px -46px;width:18px;height:18px}
.go-strike_through,.gray-strike_through{background-position:-161px -46px;width:18px;height:18px}
.go-sun,.gray-sun{background-position:-184px -46px;width:18px;height:18px}
.go-target,.gray-target{background-position:-207px -46px;width:18px;height:18px}
.go-thunder,.gray-thunder{background-position:-230px -46px;width:18px;height:18px}
.go-trash_can,.gray-trash_can{background-position:-253px -46px;width:18px;height:18px}
.go-underlined,.gray-underlined{background-position:-276px -46px;width:18px;height:18px}
.go-undo,.gray-undo{background-position:-299px -46px;width:18px;height:18px}
.go-upload2,.gray-upload2{background-position:-322px -46px;width:18px;height:18px}
.go-usb,.gray-usb{background-position:-345px -46px;width:18px;height:18px}
.go-user,.gray-user{background-position:-368px -46px;width:18px;height:18px}
.go-user_woman,.gray-user_woman{background-position:-391px -46px;width:18px;height:18px}
.go-volume_control,.gray-volume_control{background-position:-414px -46px;width:18px;height:18px}
.go-webcam,.gray-webcam{background-position:-437px -46px;width:18px;height:18px}
.go-window,.gray-window{background-position:-460px -46px;width:18px;height:18px}
.go-wizard,.gray-wizard{background-position:-483px -46px;width:18px;height:18px}
.go-world,.gray-world{background-position:-506px -46px;width:18px;height:18px}
.go-zoom,.gray-zoom{background-position:-529px -46px;width:18px;height:18px}
.go-zoom_in,.gray-zoom_in{background-position:-552px -46px;width:18px;height:18px}
.go-zoom_out,.gray-zoom_out{background-position:-575px -46px;width:18px;height:18px}
.lgray-abacus,.lgo-abacus{background-position:0 0;width:128px;height:128px}
.lgray-access_point,.lgo-access_point{background-position:-133px 0;width:128px;height:128px}
.lgray-add,.lgo-add{background-position:-266px 0;width:128px;height:128px}
.lgray-administrator,.lgo-administrator{background-position:-399px 0;width:128px;height:128px}
.lgray-alarm,.lgo-alarm{background-position:-532px 0;width:128px;height:128px}
.lgray-arrow_bidirectional,.lgo-arrow_bidirectional{background-position:-665px 0;width:128px;height:128px}
.lgray-arrow_down2,.lgo-arrow_down2{background-position:-798px 0;width:128px;height:128px}
.lgray-arrow_left2,.lgo-arrow_left2{background-position:-931px 0;width:128px;height:128px}
.lgray-arrow_right2,.lgo-arrow_right2{background-position:-1064px 0;width:128px;height:128px}
.lgray-arrow_up2,.lgo-arrow_up2{background-position:-1197px 0;width:128px;height:128px}
.lgray-attachment,.lgo-attachment{background-position:-1330px 0;width:128px;height:128px}
.lgray-audio_knob,.lgo-audio_knob{background-position:-1463px 0;width:128px;height:128px}
.lgray-barcode,.lgo-barcode{background-position:-1596px 0;width:128px;height:128px}
.lgray-battery_empty,.lgo-battery_empty{background-position:-1729px 0;width:128px;height:128px}
.lgray-battery_full,.lgo-battery_full{background-position:-1862px 0;width:128px;height:128px}
.lgray-battery_half,.lgo-battery_half{background-position:0 -133px;width:128px;height:128px}
.lgray-bell,.lgo-bell{background-position:-133px -133px;width:128px;height:128px}
.lgray-bill,.lgo-bill{background-position:-266px -133px;width:128px;height:128px}
.lgray-binoculars,.lgo-binoculars{background-position:-399px -133px;width:128px;height:128px}
.lgray-bold,.lgo-bold{background-position:-532px -133px;width:128px;height:128px}
.lgray-book,.lgo-book{background-position:-665px -133px;width:128px;height:128px}
.lgray-bookmark,.lgo-bookmark{background-position:-798px -133px;width:128px;height:128px}
.lgray-briefcase,.lgo-briefcase{background-position:-931px -133px;width:128px;height:128px}
.lgray-brightness,.lgo-brightness{background-position:-1064px -133px;width:128px;height:128px}
.lgray-broken_link,.lgo-broken_link{background-position:-1197px -133px;width:128px;height:128px}
.lgray-brush,.lgo-brush{background-position:-1330px -133px;width:128px;height:128px}
.lgray-burn_blu-ray,.lgo-burn_blu-ray{background-position:-1463px -133px;width:128px;height:128px}
.lgray-burn_blu-ray2,.lgo-burn_blu-ray2{background-position:-1596px -133px;width:128px;height:128px}
.lgray-burn_dvd,.lgo-burn_dvd{background-position:-1729px -133px;width:128px;height:128px}
.lgray-burn_dvd2,.lgo-burn_dvd2{background-position:-1862px -133px;width:128px;height:128px}
.lgray-cabinet,.lgo-cabinet{background-position:0 -266px;width:128px;height:128px}
.lgray-calculator,.lgo-calculator{background-position:-133px -266px;width:128px;height:128px}
.lgray-calendar,.lgo-calendar{background-position:-266px -266px;width:128px;height:128px}
.lgray-camera,.lgo-camera{background-position:-399px -266px;width:128px;height:128px}
.lgray-cancel,.lgo-cancel{background-position:-532px -266px;width:128px;height:128px}
.lgray-card_clubs,.lgo-card_clubs{background-position:-665px -266px;width:128px;height:128px}
.lgray-card_diamonds,.lgo-card_diamonds{background-position:-798px -266px;width:128px;height:128px}
.lgray-card_hearts,.lgo-card_hearts{background-position:-931px -266px;width:128px;height:128px}
.lgray-card_spades,.lgo-card_spades{background-position:-1064px -266px;width:128px;height:128px}
.lgray-certificate-2,.lgo-certificate-2{background-position:-1197px -266px;width:128px;height:128px}
.lgray-certificate,.lgo-certificate{background-position:-1330px -266px;width:128px;height:128px}
.lgray-chat-exclamation,.lgo-chat-exclamation{background-position:-1463px -266px;width:128px;height:128px}
.lgray-checkmark,.lgo-checkmark{background-position:-1596px -266px;width:128px;height:128px}
.lgray-checkmark2,.lgo-checkmark2{background-position:-1729px -266px;width:128px;height:128px}
.lgray-clip,.lgo-clip{background-position:-1862px -266px;width:128px;height:128px}
.lgray-clipboard,.lgo-clipboard{background-position:0 -399px;width:128px;height:128px}
.lgray-clock,.lgo-clock{background-position:-133px -399px;width:128px;height:128px}
.lgray-close,.lgo-close{background-position:-266px -399px;width:128px;height:128px}
.lgray-cloud,.lgo-cloud{background-position:-399px -399px;width:128px;height:128px}
.lgray-cloud2,.lgo-cloud2{background-position:-532px -399px;width:128px;height:128px}
.lgray-coin,.lgo-coin{background-position:-665px -399px;width:128px;height:128px}
.lgray-compress,.lgo-compress{background-position:-798px -399px;width:128px;height:128px}
.lgray-connect,.lgo-connect{background-position:-931px -399px;width:128px;height:128px}
.lgray-contrast,.lgo-contrast{background-position:-1064px -399px;width:128px;height:128px}
.lgray-copy,.lgo-copy{background-position:-1197px -399px;width:128px;height:128px}
.lgray-cross,.lgo-cross{background-position:-1330px -399px;width:128px;height:128px}
.lgray-cutter,.lgo-cutter{background-position:-1463px -399px;width:128px;height:128px}
.lgray-delete,.lgo-delete{background-position:-1596px -399px;width:128px;height:128px}
.lgray-dial,.lgo-dial{background-position:-1729px -399px;width:128px;height:128px}
.lgray-diary,.lgo-diary{background-position:-1862px -399px;width:128px;height:128px}
.lgray-dimensions,.lgo-dimensions{background-position:0 -532px;width:128px;height:128px}
.lgray-directional_down,.lgo-directional_down{background-position:-133px -532px;width:128px;height:128px}
.lgray-directional_left,.lgo-directional_left{background-position:-266px -532px;width:128px;height:128px}
.lgray-directional_right,.lgo-directional_right{background-position:-399px -532px;width:128px;height:128px}
.lgray-directional_up,.lgo-directional_up{background-position:-532px -532px;width:128px;height:128px}
.lgray-disconnect,.lgo-disconnect{background-position:-665px -532px;width:128px;height:128px}
.lgray-diskette,.lgo-diskette{background-position:-798px -532px;width:128px;height:128px}
.lgray-document,.lgo-document{background-position:-931px -532px;width:128px;height:128px}
.lgray-door,.lgo-door{background-position:-1064px -532px;width:128px;height:128px}
.lgray-download2,.lgo-download2{background-position:-1197px -532px;width:128px;height:128px}
.lgray-dropper,.lgo-dropper{background-position:-1330px -532px;width:128px;height:128px}
.lgray-earphones,.lgo-earphones{background-position:-1463px -532px;width:128px;height:128px}
.lgray-effects,.lgo-effects{background-position:-1596px -532px;width:128px;height:128px}
.lgray-eject,.lgo-eject{background-position:-1729px -532px;width:128px;height:128px}
.lgray-emoticon_angry,.lgo-emoticon_angry{background-position:-1862px -532px;width:128px;height:128px}
.lgray-emoticon_confused,.lgo-emoticon_confused{background-position:0 -665px;width:128px;height:128px}
.lgray-emoticon_grin,.lgo-emoticon_grin{background-position:-133px -665px;width:128px;height:128px}
.lgray-emoticon_in_love,.lgo-emoticon_in_love{background-position:-266px -665px;width:128px;height:128px}
.lgray-emoticon_sad,.lgo-emoticon_sad{background-position:-399px -665px;width:128px;height:128px}
.lgray-emoticon_sleeping,.lgo-emoticon_sleeping{background-position:-532px -665px;width:128px;height:128px}
.lgray-emoticon_smile,.lgo-emoticon_smile{background-position:-665px -665px;width:128px;height:128px}
.lgray-encrypt,.lgo-encrypt{background-position:-798px -665px;width:128px;height:128px}
.lgray-eraser,.lgo-eraser{background-position:-931px -665px;width:128px;height:128px}
.lgray-eye,.lgo-eye{background-position:-1064px -665px;width:128px;height:128px}
.lgray-eye_closed,.lgo-eye_closed{background-position:-1197px -665px;width:128px;height:128px}
.lgray-fast_forward,.lgo-fast_forward{background-position:-1330px -665px;width:128px;height:128px}
.lgray-file,.lgo-file{background-position:-1463px -665px;width:128px;height:128px}
.lgray-fill,.lgo-fill{background-position:-1596px -665px;width:128px;height:128px}
.lgray-fingerprint,.lgo-fingerprint{background-position:-1729px -665px;width:128px;height:128px}
.lgray-firewall,.lgo-firewall{background-position:-1862px -665px;width:128px;height:128px}
.lgray-first,.lgo-first{background-position:0 -798px;width:128px;height:128px}
.lgray-folder,.lgo-folder{background-position:-133px -798px;width:128px;height:128px}
.lgray-font,.lgo-font{background-position:-266px -798px;width:128px;height:128px}
.lgray-font_size,.lgo-font_size{background-position:-399px -798px;width:128px;height:128px}
.lgray-game_control,.lgo-game_control{background-position:-532px -798px;width:128px;height:128px}
.lgray-gear,.lgo-gear{background-position:-665px -798px;width:128px;height:128px}
.lgray-group,.lgo-group{background-position:-798px -798px;width:128px;height:128px}
.lgray-hammer,.lgo-hammer{background-position:-931px -798px;width:128px;height:128px}
.lgray-hand_point,.lgo-hand_point{background-position:-1064px -798px;width:128px;height:128px}
.lgray-hand_thumbsdown,.lgo-hand_thumbsdown{background-position:-1197px -798px;width:128px;height:128px}
.lgray-hand_thumbsup,.lgo-hand_thumbsup{background-position:-1330px -798px;width:128px;height:128px}
.lgray-hard_disk,.lgo-hard_disk{background-position:-1463px -798px;width:128px;height:128px}
.lgray-headset,.lgo-headset{background-position:-1596px -798px;width:128px;height:128px}
.lgray-heart,.lgo-heart{background-position:-1729px -798px;width:128px;height:128px}
.lgray-help,.lgo-help{background-position:-1862px -798px;width:128px;height:128px}
.lgray-help2,.lgo-help2{background-position:0 -931px;width:128px;height:128px}
.lgray-history,.lgo-history{background-position:-133px -931px;width:128px;height:128px}
.lgray-home,.lgo-home{background-position:-266px -931px;width:128px;height:128px}
.lgray-hourglass,.lgo-hourglass{background-position:-399px -931px;width:128px;height:128px}
.lgray-hourglass2,.lgo-hourglass2{background-position:-532px -931px;width:128px;height:128px}
.lgray-id,.lgo-id{background-position:-665px -931px;width:128px;height:128px}
.lgray-info,.lgo-info{background-position:-798px -931px;width:128px;height:128px}
.lgray-info2,.lgo-info2{background-position:-931px -931px;width:128px;height:128px}
.lgray-italic,.lgo-italic{background-position:-1064px -931px;width:128px;height:128px}
.lgray-item,.lgo-item{background-position:-1197px -931px;width:128px;height:128px}
.lgray-key,.lgo-key{background-position:-1330px -931px;width:128px;height:128px}
.lgray-last,.lgo-last{background-position:-1463px -931px;width:128px;height:128px}
.lgray-lightbulb,.lgo-lightbulb{background-position:-1596px -931px;width:128px;height:128px}
.lgray-link,.lgo-link{background-position:-1729px -931px;width:128px;height:128px}
.lgray-list,.lgo-list{background-position:-1862px -931px;width:128px;height:128px}
.lgray-location,.lgo-location{background-position:0 -1064px;width:128px;height:128px}
.lgray-lock,.lgo-lock{background-position:-133px -1064px;width:128px;height:128px}
.lgray-lock_open,.lgo-lock_open{background-position:-266px -1064px;width:128px;height:128px}
.lgray-login,.lgo-login{background-position:-399px -1064px;width:128px;height:128px}
.lgray-mail,.lgo-mail{background-position:-532px -1064px;width:128px;height:128px}
.lgray-mail_open,.lgo-mail_open{background-position:-665px -1064px;width:128px;height:128px}
.lgray-messenger,.lgo-messenger{background-position:-798px -1064px;width:128px;height:128px}
.lgray-microhpone,.lgo-microhpone{background-position:-931px -1064px;width:128px;height:128px}
.lgray-microphone2,.lgo-microphone2{background-position:-1064px -1064px;width:128px;height:128px}
.lgray-money_bag,.lgo-money_bag{background-position:-1197px -1064px;width:128px;height:128px}
.lgray-monitor,.lgo-monitor{background-position:-1330px -1064px;width:128px;height:128px}
.lgray-moon,.lgo-moon{background-position:-1463px -1064px;width:128px;height:128px}
.lgray-music,.lgo-music{background-position:-1596px -1064px;width:128px;height:128px}
.lgray-music_folder,.lgo-music_folder{background-position:-1729px -1064px;width:128px;height:128px}
.lgray-music_library,.lgo-music_library{background-position:-1862px -1064px;width:128px;height:128px}
.lgray-next,.lgo-next{background-position:0 -1197px;width:128px;height:128px}
.lgray-notepad,.lgo-notepad{background-position:-133px -1197px;width:128px;height:128px}
.lgray-paragraph_align_left,.lgo-paragraph_align_left{background-position:-266px -1197px;width:128px;height:128px}
.lgray-paragraph_align_right,.lgo-paragraph_align_right{background-position:-399px -1197px;width:128px;height:128px}
.lgray-paragraph_justify,.lgo-paragraph_justify{background-position:-532px -1197px;width:128px;height:128px}
.lgray-password,.lgo-password{background-position:-665px -1197px;width:128px;height:128px}
.lgray-paste,.lgo-paste{background-position:-798px -1197px;width:128px;height:128px}
.lgray-pause,.lgo-pause{background-position:-931px -1197px;width:128px;height:128px}
.lgray-pen,.lgo-pen{background-position:-1064px -1197px;width:128px;height:128px}
.lgray-pencil,.lgo-pencil{background-position:-1197px -1197px;width:128px;height:128px}
.lgray-phone,.lgo-phone{background-position:-1330px -1197px;width:128px;height:128px}
.lgray-photo_album,.lgo-photo_album{background-position:-1463px -1197px;width:128px;height:128px}
.lgray-pictures_folder,.lgo-pictures_folder{background-position:-1596px -1197px;width:128px;height:128px}
.lgray-play,.lgo-play{background-position:-1729px -1197px;width:128px;height:128px}
.lgray-point,.lgo-point{background-position:-1862px -1197px;width:128px;height:128px}
.lgray-power,.lgo-power{background-position:0 -1330px;width:128px;height:128px}
.lgray-previous,.lgo-previous{background-position:-133px -1330px;width:128px;height:128px}
.lgray-print,.lgo-print{background-position:-266px -1330px;width:128px;height:128px}
.lgray-pyramid,.lgo-pyramid{background-position:-399px -1330px;width:128px;height:128px}
.lgray-random,.lgo-random{background-position:-532px -1330px;width:128px;height:128px}
.lgray-record,.lgo-record{background-position:-665px -1330px;width:128px;height:128px}
.lgray-redo,.lgo-redo{background-position:-798px -1330px;width:128px;height:128px}
.lgray-reload,.lgo-reload{background-position:-931px -1330px;width:128px;height:128px}
.lgray-repeat,.lgo-repeat{background-position:-1064px -1330px;width:128px;height:128px}
.lgray-resize2,.lgo-resize2{background-position:-1197px -1330px;width:128px;height:128px}
.lgray-rewind,.lgo-rewind{background-position:-1330px -1330px;width:128px;height:128px}
.lgray-rotate,.lgo-rotate{background-position:-1463px -1330px;width:128px;height:128px}
.lgray-round,.lgo-round{background-position:-1596px -1330px;width:128px;height:128px}
.lgray-ruler_square,.lgo-ruler_square{background-position:-1729px -1330px;width:128px;height:128px}
.lgray-satellite,.lgo-satellite{background-position:-1862px -1330px;width:128px;height:128px}
.lgray-scissors,.lgo-scissors{background-position:0 -1463px;width:128px;height:128px}
.lgray-screwdriver,.lgo-screwdriver{background-position:-133px -1463px;width:128px;height:128px}
.lgray-security,.lgo-security{background-position:-266px -1463px;width:128px;height:128px}
.lgray-shopping_basket,.lgo-shopping_basket{background-position:-399px -1463px;width:128px;height:128px}
.lgray-software24,.lgo-software24{background-position:-532px -1463px;width:128px;height:128px}
.lgray-spam,.lgo-spam{background-position:-665px -1463px;width:128px;height:128px}
.lgray-speaker,.lgo-speaker{background-position:-798px -1463px;width:128px;height:128px}
.lgray-speaker2,.lgo-speaker2{background-position:-931px -1463px;width:128px;height:128px}
.lgray-sphere,.lgo-sphere{background-position:-1064px -1463px;width:128px;height:128px}
.lgray-spreadsheet,.lgo-spreadsheet{background-position:-1197px -1463px;width:128px;height:128px}
.lgray-square,.lgo-square{background-position:-1330px -1463px;width:128px;height:128px}
.lgray-star,.lgo-star{background-position:-1463px -1463px;width:128px;height:128px}
.lgray-stats_bars,.lgo-stats_bars{background-position:-1596px -1463px;width:128px;height:128px}
.lgray-stats_lines,.lgo-stats_lines{background-position:-1729px -1463px;width:128px;height:128px}
.lgray-stats_pie,.lgo-stats_pie{background-position:-1862px -1463px;width:128px;height:128px}
.lgray-stop,.lgo-stop{background-position:0 -1596px;width:128px;height:128px}
.lgray-strike_through,.lgo-strike_through{background-position:-133px -1596px;width:128px;height:128px}
.lgray-sun,.lgo-sun{background-position:-266px -1596px;width:128px;height:128px}
.lgray-target,.lgo-target{background-position:-399px -1596px;width:128px;height:128px}
.lgray-thunder,.lgo-thunder{background-position:-532px -1596px;width:128px;height:128px}
.lgray-trash_can,.lgo-trash_can{background-position:-665px -1596px;width:128px;height:128px}
.lgray-underlined,.lgo-underlined{background-position:-798px -1596px;width:128px;height:128px}
.lgray-undo,.lgo-undo{background-position:-931px -1596px;width:128px;height:128px}
.lgray-upload2,.lgo-upload2{background-position:-1064px -1596px;width:128px;height:128px}
.lgray-usb,.lgo-usb{background-position:-1197px -1596px;width:128px;height:128px}
.lgray-user,.lgo-user{background-position:-1330px -1596px;width:128px;height:128px}
.lgray-user_woman,.lgo-user_woman{background-position:-1463px -1596px;width:128px;height:128px}
.lgray-volume_control,.lgo-volume_control{background-position:-1596px -1596px;width:128px;height:128px}
.lgray-webcam,.lgo-webcam{background-position:-1729px -1596px;width:128px;height:128px}
.lgray-window,.lgo-window{background-position:-1862px -1596px;width:128px;height:128px}
.lgray-wizard,.lgo-wizard{background-position:0 -1729px;width:128px;height:128px}
.lgray-world,.lgo-world{background-position:-133px -1729px;width:128px;height:128px}
.lgray-zoom,.lgo-zoom{background-position:-266px -1729px;width:128px;height:128px}
.lgray-zoom_in,.lgo-zoom_in{background-position:-399px -1729px;width:128px;height:128px}
.lgray-zoom_out,.lgo-zoom_out{background-position:-532px -1729px;width:128px;height:128px}